* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: start;
}

.container {
    display: flex;
    color: rgb(175, 172, 172);
<<<<<<< HEAD
    background-color: rgb(49, 49, 49);
=======
    background-color: black;
>>>>>>> 9929bddcd626daa8390f89f922a65041a8a80ca0
    width: 40%;
    height: 100dvh;
}

.logo {
    display: flex;
}

.container img {
    height: 100px;
}

.brand {
    transform: translate(-25px, 35px);
    font-family: "Passero One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.sign-in {
    margin-top: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left:150px;
    gap: 50px;
    line-height: 5px;
}

.sign-in h1 {
    font-size: 4em;
}

.sign-in-but {
    height: 60px;
    width: 300px;
    background-color: transparent;
    color: white;
    border: 2px solid rgb(175, 172, 172);
    border-radius: 25px;
}

.sign-up {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 300px;
    color: rgb(39, 38, 38);
}

.create {
    margin-top: 150px;
    font-size: 3rem;
}
.sign-up img {
    height: 30px;
}

.soc-med {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.sign-up p {
    margin-top: 100px;
    margin-bottom: 30px;
    opacity: 0.5;
}

input {
    height: 60px;
    width: 500px;
    padding-left: 10px;
    border: 2px none;
    background-color: rgb(39, 38, 38);
    color: rgb(175, 172, 172);
    border-radius: 10px;
}
.input-holder {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.sign-up-but {
    margin-top: 50px;
    height: 50px;
    width: 250px;
    border-radius: 25px;
    border: 2px solid rgb(39, 38, 38);
    color: rgb(39, 38, 38);
}